.inputComponent {
  width: 97%;
  max-width: 98%;
  height: 60px;
  max-height: 620px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 10px;
  background-color: white;
}

.inputField {
  width: 98%;
  /* padding: 2px 2px; */
  /* margin: 10px 10px; */
  height: 95%;
  border: none;
  border-radius: 10px 10px;
  padding-left: 10px;
}

/* .addTaskBtn {
  width: 12.1%;
  max-width: 12.5%;
  height: 60px;
  margin-top: -3px;
  border-radius: 0 10px 10px 0;
  font-weight: 900;
  background-color: gainsboro;
  font-size: medium;
} */
