@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.homeGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  background-color: rgb(217, 217, 217);
  padding: 10px;
  width: 98.6%;
  height: 900px;
  /* max-height: fit-content; */

  grid-template-rows: 80px 200px 200px 200px 163px;
  grid-template-columns: 90px 22.7% 22.7% 22.7% 22.7% 22.7%;
}

.homeGrid > div {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 6;
}

.title {
  font-size: xx-large;
  font-family: "Pacifico", cursive;
  float: left;
  margin-left: 5px;
}

.userProfile {
  font-size: medium;
  font-family: "Acme", sans-serif;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.navbar {
  grid-row-start: 2;
  grid-row-end: 5;
}

.tasksBoard {
  grid-column-start: 2;
  grid-column-end: 4;
}

.notesBoard {
  grid-column-start: 4;
  grid-column-end: 6;
}

.techNews {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.youtubeWidget {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}


.footer {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/644/305/118/pattern-black-gradient-texture-wallpaper-preview.jpg");
  grid-column-start: 1;
  grid-column-end: 6;
}



.footerTitle {
  color: white;
  font-family: "Pacifico", cursive;
  margin-top: -35px;
  font-size: 36px;
  /* text-shadow: 2px 2px #95dcdd; */
}

.footerDesg {
  color: white;
  font-family: "Acme", sans-serif;
  font-size: 18px;
  margin-top: -30px;
}

.socials {
  margin-top: 0px;
  margin-left: -90px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-bottom,
.footerBottomLink {
  color: white;
  font-size: small;
  margin-top: -30px;
}

.fa {
  color: rgb(255, 255, 255);
}


