@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.noteTileLabel {
  font-size: 12px;
  font-weight: bolder;
  margin-top: -12px;
  margin-bottom: 5px;
  background-color: rgb(205, 154, 54);
  color: white;
  /* margin-left: 7px;
  margin-right: 7px; */
  /* border-radius: 10px; */
}

.notesCard {
  float: left;
  width: 26.73%;
  height: 130px;
  border: 1px solid black;
  margin-top: 2;
  margin-left: 8px;
  background-color: #ffeeb6;
  border-radius: 10px;
  text-align: justify;
  padding: 15px 15px;
}
/* .noOfTasks {
  font-family: "Alfa Slab One", cursive;
  margin-top: 15%;
  font-size: 68px;
} */

.noteText {
  font-size: 14px;
}

/* .addNewNoteBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(233, 214, 134);
  /* position: absolute; */
/* float: left; */
/* margin-left: 20px; */
/* } */
