@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.tileLabel {
  font-size: 12px;
  font-weight: bolder;
  margin-top: -12px;
  margin-bottom: 5px;
  background-color: rgb(218, 107, 107);
  color: white;
  /* margin-left: 7px;
  margin-right: 7px; */
  /* border-radius: 10px; */
}

.todaysTasksArea {
  float: left;
  width: 31.33%;
  height: 160px;
  border: 1px solid black;
  margin-top: 2;
  margin-left: 8px;
  background-color: rgb(176, 214, 214);
  border-radius: 10px;
  text-align: center;
}

.ongoingTasksArea {
  float: left;
  width: 31.33%;
  height: 160px;
  border: 1px solid black;
  margin-top: 2;
  margin-left: 9px;
  background-color: rgb(176, 214, 214);
  border-radius: 10px;
  text-align: center;
}

.overdueTasksArea {
  float: left;
  width: 31.33%;
  height: 160px;
  border: 1px solid black;
  margin-top: 2;
  margin-left: 13px;
  background-color: rgb(176, 214, 214);
  border-radius: 10px;
  text-align: center;
}

.noOfTasks {
  font-family: "Alfa Slab One", cursive;
  margin-top: 15%;
  font-size: 68px;
}

.descText {
  font-size: 14px;
}
